<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Crowe_Horwath_Task.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section
      name="Settings"
      type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <Crowe_Horwath_Task.Properties.Settings>
      <setting name="Crowe_Horwath_Task_webService1_WebService1" serializeAs="String">
        <value>http://localhost/webservice1/WebService1.asmx</value>
      </setting>
    </Crowe_Horwath_Task.Properties.Settings>
  </applicationSettings>
  <Settings>
    <add key="OutputFormat" value="Console" />
  </Settings>
</configuration>